.about {
    padding-bottom: 10rem;
    
    h2 {
      padding-top: 2.6rem;
      white-space: nowrap;
      font-size: 2rem;
    }

    img {
      margin-left: 12rem;
      width: 50rem;
      height: 15rem;
    }
  }